<%= javascript_include_tag "jquery.flash.js" %>
<div id="flex_history_chart"></div>
<script type="text/javascript">
$(document).ready(function(){
$('#flex_history_chart').flash(
        {
          src: '<%=flash_path("flexchart")%>',
          width: 720,
          height: 300,
          flashvars: { flexchart_data: "<%= url_for :controller =>'/graph', :action => 'flexchart_data' %>/<%= @id %>/memory/1" }
        },
        { version: 9 }
    );
});
</script>
