  <%= render :partial => "/task/show", :locals => { :task_types => @task_types,
                                                    :task_states => @task_states,
                                                    :task_type => @task_type,
                                                    :task_state => @task_state,
                                                    :tasks => @tasks,
                                                    :action => 'show_tasks',
                                                    :pool => @pool } %>
