#nav_tree {
   padding: 0px 20px;
}

.nav-tree {
    width: 222px;
    overflow: auto;
    position: relative;
}

.ovirt-tree, .ovirt-tree ul {
    list-style: none;
    margin:0;
    padding:5px 0 5px 16px;
    margin-right: 8px;
}

.ovirt-tree div {
    background-repeat: no-repeat;
    background-position: left;
    padding: 4px 0 4px 4px;
    cursor: pointer; /* maybe move this into a clickable class? */
}

.unclickable {
    color: grey;
    cursor: default !important;
}

.HardwarePool {
    padding: 4px 0 4px 28px !important;
    background-image: url('../../images/icon_hdwarepool.png');
}

.VmResourcePool {
    padding: 4px 0 4px 28px !important;
    background-image: url('../../images/icon_vmpool.png');
}

.SmartPool {
    padding: 4px 0 4px 28px !important;
    background-image: url('../../images/icon_smartpool.png');
}

.SmartPoolRoot {
    padding: 4px 0 4px 28px !important;
    background-image: url('../../images/icon_smartpools.png');
}
.DirectoryPool {
    padding: 4px 0 4px 28px !important;
    background-image: url('../../images/icon_smartpools_dir.png');
}

.hitarea {
	width: 16px;
        margin: 4px 0 0 -16px;
	float: left;
	cursor: pointer;
}

.expandable {
    background: url('../../images/plus.gif') no-repeat left;
}

.expanded {
    background: url('../../images/minus.gif') no-repeat left;
}

.current {
    background-color: #698FA6;
    color:#000000;
    width: 100%;
}

.nav-smart-pool {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 130px;
    background: #CCCCCC;
    width: 218px;
    padding: 5px 5px 5px 5px;
    overflow: auto;
}

.nav-smart-pool-header {
    color: #666666;
}

.nav-dashboard {
    background-image: url('../../images/icon_dashboard.png');
    background-repeat: no-repeat;
    background-position: left;
    padding: 4px 0 4px 28px;
    position: relative;
}

.nav-networks {
    background-image: url('../../images/icon_networks.png');
    background-repeat: no-repeat;
    background-position: left;
    padding: 4px 0 4px 28px;
    position:relative;
}
